h1,h1,h3,h4,p,a 
{
    font-family: "Open Sans", sans-serif;

}
p
{
    font-size: 18px;
}
h4
{
    font-size: 22px;
}
h3
{
    font-size: 26px;
}
h2 
{
    font-size: 28px;
}
h1
{
    font-size: 32px;
}
.bold
{
    font-weight: 700;
}
.semibold
{
    font-weight: 600;
}
.medium
{
    font-weight: 500;
}
.regular
{
    font-weight: 400;
}

@media screen and (max-width: 1030px) and (min-width:760px)
{
    p
    {
        font-size: 16px;
    }
    h4
    {
        font-size: 20px;
    }
    h3
    {
        font-size: 24px;
    }
    h2 
    {
        font-size: 26px;
    }
    h1
    {
        font-size: 30px;
    }
}

@media screen and (max-width: 750px) and (min-width:260px)
{
    p
    {
        font-size: 14px;
    }
    h4
    {
        font-size: 18px;
    }
    h3
    {
        font-size: 22px;
    }
    h2 
    {
        font-size: 24px;
    }
    h1
    {
        font-size: 28px;
    }
}