input, textarea
{
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.40) inset;
    resize: none;
}

// input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
// input[type="search"]::-webkit-search-results-button,
// input[type="search"]::-webkit-search-results-decoration 
{
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active
{ 
    transition: background-color 5000s ease-in-out 0s;
    

    background-color: #fafafa;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.40) inset;
    // border-color: transparent;
    -webkit-text-fill-color: #000;
    transition: 0.3s ease-in-out;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
    transition: background-color 5000s ease-in-out 0s;
    // -webkit-box-shadow:0 0 0 50px white;
    
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.40) inset;
    // border-color: $thirdWhiteClr;
    -webkit-text-fill-color: #000;
    
}

@media screen and (max-width:1030px) and (min-width: 760px)
{
    input, textarea
    {
        font-size: 16px;
        padding: clamp(5px, 1vw,10px) clamp(10px, 1.5vw, 15px);
    }
}
@media screen and (max-width:750px) and (min-width: 260px)
{
    input, textarea
    {
        font-size: 14px;
        padding: 5px clamp(5px, 1.5vw, 10px);
    }
}