@mixin primarySectionPadding() {
    padding: 5px 80px;

    @media screen and (max-width:1030px) and (min-width: 760px)
    {
        padding: 5px clamp(40px, 6vw, 60px);
    }
    @media screen and (max-width:750px) and (min-width: 260px)
    {
        padding: 5px clamp(15px, 4vw, 25px);
    }
}

@mixin secondarySectionPadding() {
    padding: 5px 150px;

    @media screen and (max-width:1030px) and (min-width: 760px)
    {
        padding: 5px clamp(40px, 6vw, 60px);
    }

    @media screen and (max-width:750px) and (min-width: 260px)
    {
        padding: 5px clamp(15px, 4vw, 25px);
    }
}
@mixin gridCenter() {
    display: grid;
    align-items: center;
    justify-items: center;
}
@mixin bgImg() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

