footer
{
    .grid-content
    {
        @include secondarySectionPadding();
        @include gridCenter();
        align-items: flex-start;
        grid-template-columns: 33% 33% 33%;

        >* 
        {
            padding: 20px;

            .title 
            {
                margin-bottom: 20px;
            }
            
        }
        .img-part 
        {
            width: 100%;
            
            .img
            {
                width: 100%;
                height: 100%;
                img 
                {
                    width: 100%;
                    // height: 100%;
                    object-fit: cover;
                    border: 3px solid rgba($color: #000000, $alpha: 0.20);
                   
                }
            }
        }
        .contact 
        {
            .pages 
            {
                p 
                {
                    margin-bottom: 10px;
                }
            }
        }
        .form-field
        {
            width: 100%;
            padding: 20px 40px;
            form 
            {
                
                > * 
                {
                    margin-bottom: 10px;
                }
                label
                {
                    display: block;
                    margin-bottom: 5px;
                }
                input, textarea
                {
                    width: 100%;
                }
            }
        }
    }
    .lower-part
    {
        .bg-img
        {
            background-color: $blackTwo;

            .grid-content
            {
                display: grid;
                grid-template-columns: repeat(2, auto);
                align-items: center;

                .left-part
                {
                    justify-self: flex-start;
                    
                    p 
                    {
                       
                        color: $white;

                        .developed_by
                        {
                            color: $white;

                            &:hover 
                            {
                                color: $primaryclr;
                            }
                        }
                    }
                }
                .connect
                {
                    justify-self: end;

                    img 
                    {
                        &:hover 
                        {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1030px) and (min-width: 760px)
{
    footer 
    {
        .grid-content
        {

            grid-template-columns: 50% 50%;
            > *
            {
                padding: clamp(10px, 1.5vw, 15px);
            }
            .form-field
            {
                padding: clamp(10px, 1.5vw, 15px);
            }
        }
        .lower-part
        {
            p
            {
                font-size: clamp(13px, 1.5vw, 16px);
            }
        }
    }
}

@media screen and (max-width:750px) and (min-width: 260px)
{
    footer 
    {
        .grid-content
        {
            grid-template-columns: 1fr;
            

            > *
            {
                padding: clamp(10px, 1.5vw, 15px) clamp(15px, 5.5vw, 40px);
            }
            .form-field
            {
                
                padding: clamp(10px, 1.5vw, 15px) clamp(15px, 5.5vw, 40px);
            }
        }
        .lower-part
        {
            p
            {
                font-size: clamp(11px, 1vw, 14px);
            }
        }
    }
}